ROOT_DIR=
# The ROOT_DIR environment variable must be set to the directory holding this file.
# NB: it will be automatically defined if the .env file is created by the Makefile
#     using this file as a starter.

# Use 'always' in production
RESTART_SERVICES=no

# Project name
COMPOSE_PROJECT_NAME=frontend

# Timezone definition
TZ=Europe/Paris

# Listen to localhost only if an nginx proxy is in place
LISTEN_ITF=127.0.0.1

# PORT MAPPING
PORT_MYSQL=33306
PORT_PHPMYADMIN=8181
PORT_LOLA_HTTP=81

# database conf
DATABASE_HOST=loladb
DATABASE_NAME=lola
MYSQL_ROOT_PASSWORD=root
DB_DATA_DIR=./database
MYSQL_USER=lola
MYSQL_PASSWORD=lola
MYSQL_HOST=
# source code of the application
APACHE_ROOT_DIR=./build/app

# Symfony .env file
APP_ENV=dev
APP_SECRET=e4a35f5c371883e946842628b83b12dd
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:3306/${DATABASE_NAME}?serverVersion=5.7
MAILER_DSN=smtp://smtp.inria.fr:25
LOLA_TEAM_EMAIL=lola@loria.fr

# Lolapy api
LOLAPY_API_ADRESS=
LOLAPY_API_PORT=5000
LOLAPY_API_FAKE=False
LOLAPY_RESOURCE_PING=/apidocs

# Lolapy resources url
LOLAPY_RESOURCE_DATASET_GET=/dataset/get
LOLAPY_RESOURCE_DATASET_DELETE=/dataset/remove
LOLAPY_RESOURCE_SCENARIO_TAG_ADD=/scenario/tag/add
LOLAPY_RESOURCE_SCENARIO_TAG_REMOVE=/scenario/tag/remove
LOLAPY_RESOURCE_SCENARIO_PARAMETERS=/scenario/parameters
LOLAPY_RESOURCE_SCENARIO_EXECUTE=/scenario/execute
LOLAPY_RESOURCE_SCENARIO_PREPARE_RESULTS=/scenario/prepare_results
LOLAPY_RESOURCE_SCENARIO_GET_ARCHIVE=/scenario/get_archive
LOLAPY_RESOURCE_ALGORITHM_VERSION_ADD=/algorithm/add
LOLAPY_RESOURCE_ALGORITHM_VERSION_REMOVE=/algorithm/remove
LOLAPY_RESOURCE_ALGORITHM_VERSION_PARAMETERS=/algorithm/parameters
LOLAPY_RESOURCE_SERVER_USAGE=/server/usage

# API access_control (true for production environnement, false for preprod and dev)
ENABLE_API_ACCESS_CONTROL=