######
# Variable related to the frontend
#
FRONTEND_API_IP=127.0.0.1
FRONTEND_API_PORT=80
FRONTEND_API_LOG_URL=/api/log
# Can be True/False (with CamelCase)
FRONTEND_API_FAKE=False
FRONTEND_API_PREPARE_RESULT_COMPLETE_URL=/api/scenario/results/complete
FRONTEND_API_PREPARE_RESULT_ERROR_URL=/api/scenario/results/error

#####
# Variable related to Lolapy
#
LOLAPY_HOST_PORT=5000
LOLAPY_HOST_IP=0.0.0.0
LOLAPY_ASYNC_QUEUE_FILE=/tmp/huey_queue.sqlite
LOLAPY_LOG_FILE=/tmp/lolapy.log
# Log level to use in the API. Could be debug, info, warning, critical
LOLAPY_LOG_LEVEL=DEBUG
# Full path to the key used to encrypt dataset. Encryption is achieved by
#  cryptncompress (lola-toolbox). Link: https://gitlab.inria.fr/lola/lola_toolbox
LOLAPY_DATASET_DECRYPT_KEY=path_to_my_key
# folder where are stored dataset files
LOLAPY_DATASET_PATH=/tmp/sftp_path/
# Disable logs to the frontend (disable only lolapy logs, not nextflow logs)
# if false, no log where send to the frontend
LOLAPY_DISABLE_FRONTEND_LOGS=false

#####
# Variable for Trax
#
# Enable (True) or disable (False) the check of trax images set in
#  `TRAX_IMAGE_ADMIN` and `TRAX_IMAGE_CLIENT`. If set to False, the backend does
#  not checks images. If set to True, if the images are missing, lolapy will
#  crash.
TRAX_CHECK_IMAGES=False
# Name of the trax images used in scenario
#   For more information, see https://gitlab.inria.fr/lola/back-end/trax
#   - `trax_image_admin` is the trax container used to populate data. It should
#   be a fully trax container.
#   - `trax_image_client` is the trax container used to fetch data. It does not
#   allow POST command so "user" cannot edit data.
TRAX_IMAGE_ADMIN=trax_admin
TRAX_IMAGE_CLIENT=trax_client

#####
# Variable MySQL
#
SQL_HOST_IP=0.0.0.0
SQL_HOST_PORT=3307
SQL_ROOT_USER=root
SQL_ROOT_PASSWORD=root

#####
# Variable Nextflow
#
NEXTFLOW_EXECUTABLE=/usr/local/bin/nextflow
NEXTFLOW_LOG_LISTENER_HOST=http://${LOLAPY_HOST_IP}:${LOLAPY_HOST_PORT}/nf_logs
# `NEXTFLOW_WORKDIR` is directory where computation occurs. This dir must be
#  share (with NFS mounting) between cluster and backend.
#  The directories `NEXTFLOW_SCENARIO_DIR` and `NEXTFLOW_ALGORITHM_DIR` should
#  be shared too between cluster and backend because some files stored in the
#  scenario' repositories can be used during the execution.
NEXTFLOW_WORKDIR=/home/lolauser/nf-workdir
NEXTFLOW_SCENARIO_DIR=/home/lolauser/nf-workdir/scenarios
NEXTFLOW_ALGORITHM_DIR=/home/lolauser/nf-workdir/algorithms

#####
# Variable Harbor
#
#
HARBOR_HOST=lola-localharbor.lhs.loria.fr
HARBOR_USER=blabla
HARBOR_PASSWORD=blabla
# Pull docker images when installing scenarios or algorithms
# Value can be 'true' to downloading. 'false' to disable downloading
HARBOR_PULL_IMAGES=true

#####
# Variable Cluster lola
#
# Nextflow processes should be run on a cluster machine/server
# The variable `CLUSTER_HOST` is the name or the ip address of the cluster.
#   NOTE! A SSH connection is required to connect to the cluster. Ensure that you can
#   connect easily with `ssh ${CLUSTER_HOST}` without password (means with ssh
#   key) and with the same user running lolapy. Be careful that old ssh keys are
#   not supported (ex: RSA-1023). A SSH key with authentication ed25521 is
#   recommanded.
# If you don't have a cluster machine, set the variable `CLUSTER_IS_BACKEND` to
# `true` (default=`false`). Commands will be run using your SHELL. If set to
# `true`, the variable `CLUSTER_HOST` will no be used.
CLUSTER_HOST=cluster-lola
CLUSTER_IS_BACKEND=true

#####
# Variable Proxy
#
# The proxy is used to clone scenario and algorithm on the backend. It cannot be
# used to fetch online ressources in scenario.
# The variable HTTP_PROXY must be empty if there is no proxy to use
HTTP_PROXY=
