# The ROOT_DIR environment variable must be set to the directory holding this file.
# NB: it will be automatically defined if the .env file is created by the Makefile
#     using this file as a starter.

# The ROOT_DIR environment variable must be set to the directory holding this file.
# NB: it will be automatically defined if the .env file is created by the Makefile
#     using this file as a starter.

# Use 'always' in production
RESTART_SERVICES=no

# Docker images
DOCKER_BUILD_PATH=${ROOT_DIR}/build

# Project name
COMPOSE_PROJECT_NAME=trax3
COMPOSE_DB_NAME=${COMPOSE_PROJECT_NAME}_db
COMPOSE_TRAX_NAME=${COMPOSE_PROJECT_NAME}_lrs
COMPOSE_PHPMYADMIN_NAME=${COMPOSE_PROJECT_NAME}_phpmyadmin
COMPOSE_TRAX_FILE=${ROOT_DIR}/docker-compose.yml

# Timezone definition
TZ=Europe/Paris

# Listen to localhost only if an nginx proxy is in place
LISTEN_ITF=0.0.0.0

# PORT MAPPING : must be the same as in .env.trax
PORT_MYSQL=3306
PORT_PHPMYADMIN=8080
PORT_TRAX_HTTP=80
PORT_TRAX_HTTPS=443

#database conf : must be the same as in .env.trax
DATABASE_NAME=traxdb
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=root
DB_DATA_DIR=./database
MYSQL_USER=user
MYSQL_PASSWORD=root

# conf file of the application
TRAX_ENV=${ROOT_DIR}/.env.trax

# Trax URL
APP_URL=http://localhost/traxlrs
