projectDir= '$workflow.projectDir'

params {
  test_data= "$projectDir/raw-data/test.csv"
  true_labels="$projectDir/raw-data/TrueLabel.csv"
  userModel=false
  userTest=false
}

includeConfig 'modules/requestData.config'
includeConfig 'modules/svdProcess.config'
includeConfig 'modules/predictionEvaluation.config'
includeConfig 'modules/testProcess.config'
includeConfig 'modules/aggregateResults.config'
