# The ROOT_DIR environment variable must be set to the directory holding this file.
# NB: it will be automatically defined if the .env file is created by the Makefile
#     using this file as a starter.

# Use 'always' in production
RESTART_SERVICES=no

# Docker images
DOCKER_BUILD_PATH=${ROOT_DIR}/build
DOCKER_TRAX_ADMIN_NAME=trax
DOCKER_TRAX_ADMIN_DOCKERFILE=${DOCKER_BUILD_PATH}/Dockerfile
DOCKER_TRAX_CLIENT_NAME=trax_client
DOCKER_TRAX_CLIENT_DOCKERFILE=${DOCKER_BUILD_PATH}/Dockerfile_client
DOCKER_DB_NAME=db
DOCKER_PHPMYADMIN_NAME=phpmyadmin

# Project name
COMPOSE_PROJECT_NAME=trax
COMPOSE_DB_NAME=${COMPOSE_PROJECT_NAME}_db
COMPOSE_TRAX_NAME=${COMPOSE_PROJECT_NAME}_trax
COMPOSE_PHPMYADMIN_NAME=${COMPOSE_PROJECT_NAME}_phpmyadmin
COMPOSE_TRAX_FILE=${ROOT_DIR}/docker-compose.yml
COMPOSE_TRAX_CLIENT_FILE=${ROOT_DIR}/docker-compose-client.yml


GITLAB_DEPLOY_USERNAME=deploy-token-test
GITLAB_DEPLOY_TOKEN=gldt-h87ofXNcE_B6ee9mAbwf

# Timezone definition
TZ=Europe/Paris

# Listen to localhost only if an nginx proxy is in place
LISTEN_ITF=0.0.0.0

# PORT MAPPING
PORT_MYSQL=3306
PORT_PHPMYADMIN=8080
PORT_TRAX_HTTP=80
PORT_TRAX_HTTPS=443

# database conf
DATABASE_HOST=traxdb
DATABASE_NAME=trax
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=root
DB_DATA_DIR=./database
MYSQL_USER=user
MYSQL_PASSWORD=root

# source code of the application
APACHE_ROOT_DIR=./app/
SCRIPT_PATH=${ROOT_DIR}/scripts

# conf file of the application
TRAX_ENV=${ROOT_DIR}/.env.trax

# Trax URL
APP_URL=http://garimpeiro12.loria.fr/traxlrs
