This site contains the project documentation for the `lolapy` project. Lolapy is the backend server of the LOLA project.

It's divided into several modules

## Modules

### Tools

{{ modules }}

Quickly find what you're looking for depending on your use case by looking at the different pages.

