#!/usr/bin/env nextflow

process userTest {
    container = "{{ docker_image }}"

    cpus 1
    memory '500 MB'

    input:
        path input_file_1
        path input_file_2

    output:
        path output_file_1, emit: user_predictions
"""
{{ command }}
"""
}

