######
# Variable related to the frontend
#
FRONTEND_API_IP=
FRONTEND_API_PORT=8080
FRONTEND_API_LOG_URL=/api/lolapi/log
# Can be True/False (with CamelCase)
FRONTEND_API_FAKE=False
FRONTEND_API_PREPARE_RESULT_COMPLETE_URL=/api/scenario/results/complete
FRONTEND_API_PREPARE_RESULT_ERROR_URL=/api/scenario/results/error

#####
# Variable related to Lolapy
#
LOLAPY_HOST_PORT=5000
LOLAPY_HOST_IP=
LOLAPY_ASYNC_QUEUE_FILE=/tmp/huey_queue.sqlite
LOLAPY_LOG_FILE=/tmp/lolapy.log
# Log level to use in the API. Could be debug, info, warning, critical
LOLAPY_LOG_LEVEL=DEBUG
# Full path to the key used to encrypt dataset. Encryption is achieved by
#  cryptncompress (lola-toolbox). Link: https://gitlab.inria.fr/lola/lola_toolbox
LOLAPY_DATASET_DECRYPT_KEY=/tmp/certs/private.key
# folder where are stored dataset files
LOLAPY_DATASET_PATH=/home/lolauser/nf-workdir/datasets/
# Disable logs to the frontend (disable only lolapy logs, not nextflow logs)
# if false, no log where send to the frontend
LOLAPY_DISABLE_FRONTEND_LOGS=false

#####
# Variable Nextflow
#
NEXTFLOW_EXECUTABLE=/usr/local/bin/nextflow
NEXTFLOW_LOG_LISTENER_HOST=http://${LOLAPY_HOST_IP}:${LOLAPY_HOST_PORT}/nf_logs
# `NEXTFLOW_WORKDIR` is directory where computation occurs. This dir must be
#  share (with NFS mounting) between cluster and backend.
#  The directories `NEXTFLOW_SCENARIO_DIR` and `NEXTFLOW_ALGORITHM_DIR` should
#  be shared too between cluster and backend because some files stored in the
#  scenario' repositories can be used during the execution.
NEXTFLOW_WORKDIR=/home/lolauser/nf-workdir
NEXTFLOW_SCENARIO_DIR=/home/lolauser/nf-workdir/scenarios
NEXTFLOW_ALGORITHM_DIR=/home/lolauser/nf-workdir/algorithms

#####
# Variable Harbor
#
#
HARBOR_HOST=
HARBOR_USER=
HARBOR_PASSWORD=
# Pull docker images when installing scenarios or algorithms
# Value can be 'true' to downloading. 'false' to disable downloading
HARBOR_PULL_IMAGES=true

#####
# Variable Cluster lola
#
# Nextflow processes should be run on a cluster machine/server
# The variable `CLUSTER_HOST` is the name or the ip address of the cluster.
#   NOTE! A SSH connection is required to connect to the cluster. Ensure that you can
#   connect easily with `ssh ${CLUSTER_HOST}` without password (means with ssh
#   key) and with the same user running lolapy. Be careful that old ssh keys are
#   not supported (ex: RSA-1023). A SSH key with authentication ed25521 is
#   recommanded.
# If you don't have a cluster machine, set the variable `CLUSTER_TYPE` to
# `local` (default=`local`). Commands will be run using your SHELL. If set to
# `local`, the variable `CLUSTER_HOST` will no be used.
# If set to `k8s`, Nextflow will use the Kubernetes executor.
# If set to `slurm`, Nextflow will use the Slurm executor.
CLUSTER_HOST=cluster-lola
CLUSTER_TYPE=local

#####
# Variable Kubernetes
#
# If CLUSTER_TYPE=k8s, the Nextflow backend needs to know which 
# PVC (PersistentVolumeClaim) it uses and where it mounts the folder
K8S_PVC_NAME=lola-pvc
K8S_MOUNT_PATH=/home/lolauser/nf-workdir
K8S_NAMESPACE=default
K8S_SERVICE_ACCOUNT=default

#####
# Variable Proxy
#
# The proxy is used to clone scenario and algorithm on the backend. It cannot be
# used to fetch online ressources in scenario.
# The variable HTTP_PROXY must be empty if there is no proxy to use
HTTP_PROXY=

#####
# Variable SFTP (used in docker-compose.slurm.yml and docker-compose.k8s.yml)
#
SFTP_USER=aziz
SFTP_PASSWORD=password

####
# Variable SQL (used in docker-compose.slurm.yml and docker-compose.k8s.yml)
# 
MYSQL_ROOT_PASSWORD=
DATABASE_NAME=
MYSQL_USER=
MYSQL_PASSWORD=