apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-nfs
  annotations:
    pv.kubernetes.io/provisioned-by: nfs.csi.k8s.io
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 10Gi
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: pvc-nfs-static
    namespace: default
  csi:
    driver: nfs.csi.k8s.io
    volumeAttributes:
      server: "{{ arch_ip }}"
      share: "{{ nfs_export_path | default('/home/lolauser/nf-workdir') }}"
    volumeHandle: "{{ arch_ip }}#{{ nfs_export_path | default('/home/lolauser/nf-workdir') }}#"
  mountOptions:
    - nfsvers=4.1
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-csi
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-nfs-static
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: nfs-csi
  volumeName: pv-nfs
---
apiVersion: v1
kind: Secret
metadata:
  name: secure-registry
  namespace: default
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ kubernetes_dockerconfigjson | default('eyJhdXRocyI6eyIxMC4wLjEuOTciOnsidXNlcm5hbWUiOiJhZG1pbiIsInBhc3N3b3JkIjoiWW91clNlY3VyZVBhc3N3b3JkMTIzISIsImVtYWlsIjoiYWRtaW5AZ21haWwuY29tIiwiYXV0aCI6IllXUnRhVzQ2V1c5MWNsTmxZM1Z5WlZCaGMzTjNiM0prTVRJeklRPT0ifX19') }}"
