#!/usr/bin/env nextflow


process userModel {
    container = "{{ docker_image }}"

    cpus {{ cpu_limit|default(2, true) }}
    memory '{{ memory_limit|default("500 MB", true) }}'

    input:
        path input_file_1

    output:
        path output_file_1, emit: user_model
"""
{{ command }}
"""
}
